body {
    overflow-y: scroll;
    overflow-x: hidden;

}



::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-thumb {
    background-color: #3498db;
    border-radius: 10px;
    border: 3px solid white;
}

::-webkit-scrollbar-track {
    background-color: #f0f0f0;
    border-radius: 10px;
    
}

.header_All {
    background-color: rgba(156, 153, 153, 0.7) !important;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    position: fixed !important;
    // position: absolute;
    width: 100% !important;
    top: 0;
    bottom: 100px !important;
    z-index: 1000;
    transition: all 0.3s ease-in-out;

    img {
        width: 200px;
        height: 50px;
    }
}
.fixed{
        position: absolute;
        top: 0px !important
}


.header_Right {
    background-color: transparent !important;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 10px;

    i {
        color: white;
        font-size: 26px;
    }

}

.offcanvas__btn {
    background-color: transparent;
    padding: 10px;

    i {
        color: white;
        font-size: 26px;
    }
}

.home-custom-select {
    position: relative;
    display: inline-block;
    background-color: transparent;
}

.home-custom-select-selected {
    padding: 10px;
    cursor: pointer;
    background-color: transparent;


}

.home-custom-select-options {
    padding-top: 22px;
    display: none;
    position: absolute;
    z-index: 1;
}

.home-custom-select-option {
    padding-top: 10px;
    display: flex;
    align-items: center;
    cursor: pointer;

    img {
        width: 30px !important;
        height: 30px !important;
        border: none !important;
        border-radius: 50%;
    }
}

.home-custom-select-option:hover {
    // background-color: #3498db;
}

.home-show {
    display: block;
}

.offcanvas {
    width: 400px !important;
    height: 80% !important;
    // background-color:  !important;
    border-radius: 10px;
    padding-top: 10px;
}

.offcanvas-body {
    // border: 3px solid red;

    ul {
        li {
            list-style: none;

            a {
                text-decoration: none;
                font-size: 20px;
                color: black;
            }
        }
    }
}
@media only screen and (max-width: 400px) {
   .header_All{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0px !important;
    width: auto;
    // display: none;
   }
   .header{
    border: 3px solid red;
   }
   .header_moods{
    padding: 0px;
    margin: 0px;
    width: 30px;
   }
   .Header_logo{
    width: 30px;
    img{
        width: 100px !important;
    }
   }
  }

  